.profile-container {
    min-height: 100%;
    max-width: 56px;
    min-width: 56px;
    overflow: hidden;
    background: #e2eae6;
}
/* 
.my-tracker {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    border-radius: 20px;
    box-shadow: -10px -10px 20px #2d3338,10px 10px 5px #26282a;
    
    margin: 2rem;
}

.my-tracker-title {
    background-color: transparent;
    
    color: #f4f5f7;
    margin: 32px 32px 24px 32px;
    font-size: 20px;
    font-weight: bold;
}

.welcome {
    background-color: #2b2e32;
    color: #f4f5f7;
    margin: 0 32px 24px 32px;
    
}

.last-login {
    background-color: transparent;
    color: #f4f5f7;
    margin: 0 32px 24px 32px;
    
}

.profile-picture {
    background-color: transparent;
    margin: 0 24px 24px 24px;
  
}

.profile-picture img {
    width: 80px;
    height: 80px;
    border-radius: 100px;
    border: 1px solid #f4f5f7;
}

.full-name {
    background-color: transparent;
    color: #f4f5f7;
    margin: 0 24px 24px 24px;
    letter-spacing: 1px;
    font-size: 17px;
}

.my-tracker-btn {
    
    margin-left: 10px;
    background-color: #2b2e32;
    color: #55be8c;
    
    border: none;
    outline: none;
    border-radius: 20px;
    padding: 10px 40px;
    box-shadow: -5px -5px 15px #2d3338,5px 5px 5px #26282a;
    cursor: pointer;
    font-size: 15px;
    transition: ease 0.5s;
    &:hover{
        background-color: #55be8c;
        color: #f4f5f7;
    }
    
}

.settings {
    
    margin-right: 10px;
    background-color: #2b2e32;
    color: #55be8c;
   
    border: none;
    outline: none;
    border-radius: 20px;
    padding: 10px 20px;
    box-shadow: -5px -5px 15px #2d3338,5px 5px 5px #26282a;
    cursor: pointer;
    font-size: 15px;
    transition: ease 0.5s;
    &:hover{
        background-color: #55be8c;
        color: #f4f5f7;
    }
}

.my-tracker-con {
    background-color: transparent;
    display: flex;
    margin: 0 32px 32px 32px;
} */


